<div class="navbar-nav">
    <div class="nav-item">
        <a class="nav-link" href="#"><fa-icon [icon]="faHome" /></a>
    </div>
    <div class="nav-item">
        <a class="nav-link" href="#">Gene data</a>
    </div>
    <div class="nav-item">
        <a class="nav-link disabled-link" href="#">Downloads</a>
    </div>
    <div class="nav-item">
        <a class="nav-link" href="#">Contact us</a>
    </div>
    <div ngbDropdown class="nav-item" role="presentation">
        <button type="button" class="nav-link" ngbDropdownToggle>More</button>
        <div ngbDropdownMenu>
            <button ngbDropdownItem>Action</button>
            <button ngbDropdownItem>Another action</button>
            <button ngbDropdownItem>Something else here</button>
            <div class="dropdown-divider"></div>
            <button ngbDropdownItem>Separated link</button>
        </div>
    </div>
    <div class="nav-item">
        <a class="nav-link" href="#"
            >Request symbol <fa-icon [icon]="faEnvelope"></fa-icon
        ></a>
    </div>
</div>
