<header>
    <nav class="navbar navbar-expand-md">
        <div class="container">
            <button
                class="navbar-toggler"
                type="button"
                (click)="isMenuCollapsed = !isMenuCollapsed"
            >
                <fa-icon [icon]="faBars" />
            </button>
            <div
                [ngbCollapse]="isMenuCollapsed"
                class="collapse navbar-collapse"
                id="navbarContent"
            >
                <app-nav></app-nav>
            </div>
        </div>
    </nav>
</header>
