<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <a href="/" class="home-link" target="_blank">
                <img src="img/pgnc/pgnc-logo-light-bckgrnd.svg" alt="Home" />
                <fa-icon [icon]="faHome" size="2x"></fa-icon>
            </a>
            <h3>Gene data</h3>
            <ul id="data-list">
                <li>
                    <a href="/tools/search/#!/genes" target="_self"
                        >Gene symbol reports</a
                    >
                </li>
            </ul>
        </div>
        <div class="col-sm-3">
            <h3>About</h3>
            <ul id="about-list">
                <li>
                    <!-- <a href="/about" target="_self"> -->About the PGNC -
                    coming soon<!-- </a> -->
                </li>
                <li>
                    <!-- <a href="/about/instructions-to-authors" target="_self"> -->Instructions
                    to authors - coming soon<!-- </a> -->
                </li>
                <li><a href="/about/license">License</a></li>
                <li>
                    <!-- <a href="/about/species-list" target="_self"> -->Species
                    list - comming soon<!-- </a> -->
                </li>
                <li>
                    <a href="/about/privacy/" target="_self">Privacy notice</a>
                </li>
                <li>
                    <!-- <a href="/about/publications" target="_self"> -->Publications
                    - coming soon<!-- </a> -->
                </li>
                <!-- <li><a href="/about/sab" target="_self">Scientific Advisory Board</a></li> -->
                <!-- <li><a href="/about/specialist-advisors" target="_self">Specialist advisors</a></li> -->
            </ul>
        </div>
        <div class="col-sm-3">
            <h3>Tools</h3>
            <ul id="tools-list">
                <li>
                    <a href="/tools/search/#!/all" target="_self">Search</a>
                </li>
            </ul>
            <h3>Downloads</h3>
            <ul id="downloads-list">
                <li>
                    <!-- <a ng-href="https://genenames.org/help/rest/" target="_self" href="https://genenames.org/help/rest/"> -->REST
                    service - coming soon<!--</a>-->
                </li>
                <li>
                    <!-- <a href="/download/statistics-and-files" target="_self"> -->Statistics
                    &amp; download files - coming soon<!-- </a> -->
                </li>
            </ul>
        </div>
        <div class="col-sm-3">
            <h3>Help</h3>
            <ul id="help-list">
                <li>
                    <!-- <a href="/help" target="_self"> -->Help index - coming
                    soon<!-- </a> -->
                </li>
            </ul>
            <!-- <h3 ng-click="vm.newsListIsCollapsed = !vm.newsListIsCollapsed">News</h3>
                <ul id="news-list" ng-hide="vm.newsListIsCollapsed" class="ng-hide">
                  <li><a href="https://blog.genenames.org/" target="_self">Genenames blog</a></li>
                </ul> -->
            <h3>Contact us</h3>
            <ul id="contact-list">
                <li>
                    <!-- <a href="/contact" target="_self"> -->Details - coming
                    soon<!-- </a> -->
                </li>
                <li>
                    <!-- <a href="/contact/feedback" target="_self"> -->Feedback
                    - coming soon<!-- </a> -->
                </li>
                <li>
                    <!-- <a href="/contact/request" target="_self"> -->Request
                    symbol - coming soon<!-- </a> -->
                </li>
            </ul>
        </div>
    </div>
</div>
